.directory
*.pro.user
*.kate-swp
*.autosave
*.aux
*.log
*.toc
*.synctex.gz
*.bak
*.out
*.pygtex
*.pygstyle
bin/debug/*
bin/release/*
doc/html/*
layouts/*/*/*.png
layouts/*/icons/*
layouts/pdf/*
standard/*/*html/*
standard/standard*.pdf
standard/moldavian/*.pdf
standard/russian/*.pdf
philosophy/standard*.pdf
philosophy/moldavian/*.pdf
philosophy/russian/*.pdf
wire-protocol/russian/*.pdf
src/*/models/*.png
*.db
